In [7]:
import pandas as pd
import os
import yaml

In [6]:
os.getcwd()

'/Volumes/sunny333/code/genAI/ResumeAiAgent'

In [5]:
new_path = "/Volumes/sunny333/code/genAI/ResumeAiAgent/"
os.chdir(new_path)
os.getcwd()

'/Volumes/sunny333/code/genAI/ResumeAiAgent'

In [8]:
path = "params.yaml"
params=yaml.safe_load(open(path))['preprocess']
params

{'input': 'data/raw/resume_data.csv', 'output': 'data/cleaned/data.csv'}

In [9]:
data = pd.read_csv(params['input'])
data.head()

,address,career_objective,skills,educational_institution_name,degree_names,passing_years,educational_results,result_types,major_field_of_studies,professional_company_names,...,online_links,issue_dates,expiry_dates,﻿job_position_name,educationaL_requirements,experiencere_requirement,age_requirement,responsibilities.1,skills_required,matched_score
0,NaN,Big data analytics working and database wareho...,"['Big Data', 'Hadoop', 'Hive', 'Python', 'Mapr...",['The Amity School of Engineering & Technology...,['B.Tech'],['2019'],['N/A'],[None],['Electronics'],['Coca-COla'],...,NaN,NaN,NaN,Senior Software Engineer,B.Sc in Computer Science & Engineering from a ...,At least 1 year,NaN,Technical Support\nTroubleshooting\nCollaborat...,NaN,0.850000
1,NaN,Fresher looking to join as a data analyst and ...,"['Data Analysis', 'Data Analytics', 'Business ...","['Delhi University - Hansraj College', 'Delhi ...","['B.Sc (Maths)', 'M.Sc (Science) (Statistics)']","['2015', '2018']","['N/A', 'N/A']","['N/A', 'N/A']","['Mathematics', 'Statistics']",['BIB Consultancy'],...,NaN,NaN,NaN,Machine Learning (ML) Engineer,M.Sc in Computer Science & Engineering or in a...,At least 5 year(s),NaN,Machine Learning Leadership\nCross-Functional ...,NaN,0.750000
2,NaN,NaN,"['Software Development', 'Machine Learning', '...","['Birla Institute of Technology (BIT), Ranchi']",['B.Tech'],['2018'],['N/A'],['N/A'],['Electronics/Telecommunication'],['Axis Bank Limited'],...,NaN,NaN,NaN,"Executive/ Senior Executive- Trade Marketing, ...",Master of Business Administration (MBA),At least 3 years,NaN,"Trade Marketing Executive\nBrand Visibility, S...",Brand Promotion\nCampaign Management\nField Su...,0.416667
3,NaN,To obtain a position in a fast-paced business ...,"['accounts payables', 'accounts receivables', ...","['Martinez Adult Education, Business Training ...",['Computer Applications Specialist Certificate...,['2008'],[None],[None],['Computer Applications'],"['Company Name ï¼ City , State', 'Company Name...",...,NaN,NaN,NaN,Business Development Executive,Bachelor/Honors,1 to 3 years,Age 22 to 30 years,Apparel Sourcing\nQuality Garment Sourcing\nRe...,Fast typing skill\nIELTSInternet browsing & on...,0.760000
4,NaN,Professional accountant with an outstanding wo...,"['Analytical reasoning', 'Compliance testing k...",['Kent State University'],['Bachelor of Business Administration'],[None],['3.84'],[None],['Accounting'],"['Company Name', 'Company Name', 'Company Name...",...,[None],[None],"['February 15, 2021']",Senior iOS Engineer,Bachelor of Science (BSc) in Computer Science,At least 4 years,NaN,iOS Lifecycle\nRequirement Analysis\nNative Fr...,iOS\niOS App Developer\niOS Application Develo...,0.650000

In [11]:
from pydantic import BaseModel,ValidationError

In [12]:
given_requirments = {
  "skills": ["Python", "TensorFlow", "ML"],
  "experience": "3+ years",
  "education": "Bachelor's in CS or equivalent",
  "keywords": ["data pipeline", "model training", "deployment"]
}

In [17]:
class MyRequirments(BaseModel):
    skills: list
    experience:str
    education:str
    keywords:list

In [19]:
try:
    MyRequirments(**given_requirments)  
    print("valid")
except ValidationError as e:
    print("-----",e.errors())

valid

In [ ]:
class User(BaseModel):
    skills: list
    experience:str
    education:str

In [21]:
data.columns

Index(['address', 'career_objective', 'skills', 'educational_institution_name',
       'degree_names', 'passing_years', 'educational_results', 'result_types',
       'major_field_of_studies', 'professional_company_names', 'company_urls',
       'start_dates', 'end_dates', 'related_skils_in_job', 'positions',
       'locations', 'responsibilities', 'extra_curricular_activity_types',
       'extra_curricular_organization_names',
       'extra_curricular_organization_links', 'role_positions', 'languages',
       'proficiency_levels', 'certification_providers', 'certification_skills',
       'online_links', 'issue_dates', 'expiry_dates', '﻿job_position_name',
       'educationaL_requirements', 'experiencere_requirement',
       'age_requirement', 'responsibilities.1', 'skills_required',
       'matched_score'],
      dtype='object')

In [ ]:
 = ["skills","degree_names","professional_company_names",
               "related_skils_in_job",'start_dates', 'end_dates'
               ]
req_colums=["skills_required","educationaL_requirements","experiencere_requirement"]user_colums

In [23]:
data_user = data[user_colums]
data_user.head()

,skills,degree_names,professional_company_names,related_skils_in_job,start_dates,end_dates
0,"['Big Data', 'Hadoop', 'Hive', 'Python', 'Mapr...",['B.Tech'],['Coca-COla'],[['Big Data']],['Nov 2019'],['Till Date']
1,"['Data Analysis', 'Data Analytics', 'Business ...","['B.Sc (Maths)', 'M.Sc (Science) (Statistics)']",['BIB Consultancy'],"[['Data Analysis', 'Business Analysis', 'Machi...",['Sep 2019'],['Till Date']
2,"['Software Development', 'Machine Learning', '...",['B.Tech'],['Axis Bank Limited'],"[['Unified Payment Interface', 'Risk Predictio...",['June 2018'],['Till Date']
3,"['accounts payables', 'accounts receivables', ...",['Computer Applications Specialist Certificate...,"['Company Name ï¼ City , State', 'Company Name...","[['accounts receivables', 'banking', 'G/L Acco...","['January 2011', 'January 2008', 'January 2006...","['November 2015', 'January 2010', 'January 200..."
4,"['Analytical reasoning', 'Compliance testing k...",['Bachelor of Business Administration'],"['Company Name', 'Company Name', 'Company Name...","[['collections', 'accounts receivable', 'finan...","['January 2016', 'January 2016', 'January 2012...","['Current', 'January 2016', 'January 2015', 'J..."